<div class="row" style="margin-top:100px">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="alert alert-danger">
            <strong>Lo sentimos!</strong> No hay productos disponibles en este momento.
        </div>
    </div>
</div>


