@model IList<Paramedic.Gestion.Model.ClientesLicenciasProducto>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-bookmark"></i>
                <h3>Productos Disponibles</h3>
            </div>
            <div class="widget-content">
                <div class="shortcuts">
                    @foreach (var item in Model)
                    {
                        <a href="@item.ClientesLicencia.FullUrl" target="_blank" class="shortcut"><i class="shortcut-icon fa fa-scribd"></i><span class="shortcut-label">@item.Producto.Descripcion</span> </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>











