
.no-flexbox .support {
	display: block;
}

.hidden {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
}

.container > section {
	min-height: 100%;
}

span.span-tab {
    	font-size: 14px !important;
}
