@model PagedList.IPagedList<Paramedic.Gestion.Model.Revendedor>

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row" style="margin-top: -20px">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="fa fa-filter"></i>
                            <h3>Filtros</h3>
                        </div>
                        <div class="widget-content" style="margin-top: -10px; padding-bottom: 10px">
                            <form action="@Url.Action("Index")" method="get" class="searchIndex" data-gestion-ajax="true" data-gestion-target="#revendedoresList" style="margin-bottom:0">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <input type="text" class=" col-xs-3" id="searchName" name="searchName" placeholder="Buscar..." style="width: 90%">
                                    </div>
                                    <div class="col-xs-1">
                                        <button class="btn btn-primary btn-small btn-actions" style="width: 100%" type="submit" id="search_button" name="search_button"><i class="btn-icon-only fa fa-search"></i></button>
                                    </div>
                                    <div class="col-xs-1">
                                        <a href="@Url.Action("Create", "Revendedores")" class="btn btn-primary btn-small btn-actions" style="width:80%">
                                            <i class="btn-icon-only fa fa-plus"></i>
                                        </a>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("_Revendedores", Model)

        </div>
    </div>
</div>