  <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>
                                <a href="@Url.Action("Index")" class="btn btn-danger btn-outline">Cancelar</a>
                            </div>
                            <!-- /form-actions -->
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>