  <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary btn-actions">Guardar</button>
                                <button class="btn">Cancelar</button>
                            </div>
                            <!-- /form-actions -->
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>