@model PagedList.IPagedList<Paramedic.Gestion.Web.ViewModels.ClienteViewModel>

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Filtros</h3>
                        </div>

                        <div class="widget-content" style="margin-top: -10px; padding-bottom: 10px">
                            <form action="@Url.Action("Index")" method="get" class="searchIndex" data-gestion-ajax="true" data-gestion-target="#clientesList" style="margin-bottom:0px">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Buscar..." name="searchName">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-outline" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <a href="@Url.Action("Create", "Clientes")" class="btn btn-success btn-outline">
                                        Agregar cliente
                                    </a>

                                    <select id="selTipoClientes" name="selTipoClientes" class="btn btn-success btn-outline">
                                        <option value="1">Todos</option>
                                        <option value="2">Vendidos</option>
                                        <option value="3">En Gesti&oacute;n</option>
                                    </select>

                                    <select id="selDatosSegunVista" name="selDatosSegunVista" class="btn btn-success btn-outline">
                                        <option value="1">Datos Principales</option>
                                        <option value="2">&Uacute;ltima Gesti&oacute;n</option>
                                    </select>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
            @Html.Partial("_Clientes", Model)
        </div>
    </div>
</div>
