@model Gestion.Models.ClientesGestion

<form action="/Clientes/Edit/@ViewBag.ClienteID/ClientesGestiones/Create" enctype="multipart/form-data" method="post">

    @Html.Partial("_Form",Model)

</form>



