<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="urlGestion" value="http://localhost/Paramedic.Gestion.Web" />
		<add key="administratorMail" value="soporte@shaman-sge.com" />
		<add key="administratorMailPassword" value="Uj2GieoCbB" />
		<add key="smtp" value="mail.shaman-sge.com" />
		<add key="smtpPort" value="2525" />
		<add key="enableSsl" value="False" />
		<add key="importantStuffMail" value="maximilianopoggio@gmail.com"/>
	</appSettings>
</configuration>