@model Paramedic.Gestion.Web.ViewModels.SocialServicesViewModel

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">
                        <h3>Registro de servicio de comunicación</h3>
                    </div>

                    <div class="widget-content">
                        <fieldset>

                            @Html.Partial("_ServiceBasicData", Model)

                            <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>
                                <a href="@Url.Action("Index")" class="btn btn-danger btn-outline">Cancelar</a>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



