@using Paramedic.Gestion.Web.ViewModels
@model IList<Paramedic.Gestion.Model.ProductosModulo>

<div id="modulosList">

	@{
		List<ModulosAsignados> modAsignados = ViewBag.ProdModAsignados;
		foreach (var mod in modAsignados)
		{
			<div class="row">
				<label>
					<input type="checkbox"
						   name="selectedProdMod"
						   id="@mod.ProductoModuloID"
						   class="margin-right-10 margin-left-10"
						   value="@mod.ProductoModuloID"
						   @(Html.Raw(mod.Asignado ? "checked" : "")) />
					@mod.Descripcion
				</label>
			</div>
		}
	}
</div>
