<div class="row">
	<div class="col-xs-12">
		<div class="alert alert-danger" role="alert">
			<strong>
				<i class="fa fa-times-circle margin-right-10"></i>
				@Model.ToString()
			</strong>
		</div>
	</div>
</div>
