<div style="text-align: center">   
   <button type="button" class="btn btn-primary btn-large btnEditCreateEvento btn-actions" data-evento-id="1"  data-ref="/MisTickets/CreateTicketEvento/@Model.ID" data-model-id="@Model.ID" data-response="1">Responder Consulta</button>
</div>
