<div class="row">
    <div class="span6 offset2">
        <div class="btn-group" style="z-index: 99">
            <button type="button" class="btn btn-primary btn-large btnEditCreateEvento btn-actions"  data-ref="/MisTickets/CreateTicketEvento/@Model.ID" data-model-id="@Model.ID">Nueva Consulta</button>
            <a href="/MisTickets/CloseTicket/@Model.ID" id="btnCloseTicket" class="btn btn-danger btn-large">Cerrar Ticket</a>
        </div>
    </div>
</div>

