<div style="text-align: center">   
   <button type="button" class="btn btn-primary btn-large btnEditCreateEvento btn-actions" data-evento-id="1"  data-ref="@Url.Action("CreateTicketEvento","MisTickets",new { id = Model.Id })" data-model-id="@Model.Id" data-response="1">Responder Consulta</button>
</div>
