<div class="row">
    <div class="col-xs-6 col-xs-offset-2">
        <div class="btn-group" style="z-index: 99">
            <button type="button" class="btn btn-primary btn-large btnEditCreateEvento btn-actions" data-ref="@Url.Action("CreateTicketEvento","MisTickets",new { id = Model.Id })" data-model-id="@Model.Id">Nueva Consulta</button>
            <a href="@Url.Action("CloseTicket","MisTickets",new { id = Model.Id })" id="btnCloseTicket" class="btn btn-danger btn-large">Cerrar Ticket</a>
        </div>
    </div>
</div>

