@model Paramedic.Gestion.Model.Ticket

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="widget">
                    <div class="widget-header">                        
                        <h3>Registro de Ticket</h3>
                    </div>

                    <div class="widget-content">
                        <fieldset>

                            <div class="control-group">
                                <label class="control-label" for="Asunto">Asunto</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Asunto, new { @class = "col-xs-12 form-control", autofocus = "" })
                                    @Html.ValidationMessageFor(model => model.Asunto)
                                </div> 
                            </div> 

                            <div class="control-group">
                                <label class="control-label" for="Descripcion">Descripci&oacute;n</label>
                                <div class="controls">
                                    @Html.TextArea("Descripcion", new { @class = "col-xs-12 form-control", rows="6" })                                
                                </div> 
                            </div> 

                            <div class="control-group">
                                <label class="control-label" for="image">Imagen</label>
                                <div class="controls">
                                    <input type="file" name="image" accept="image/x-png, image/gif, image/jpeg" />
                                </div> 
                            </div> 

                            <br>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success btn-outline">Guardar</button>
                                <a href="@Url.Action("Index")" class="btn btn-danger btn-outline">Cancelar</a>
                            </div> 
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


