@model IEnumerable<Paramedic.Gestion.Model.ClientesGestion>

<li>
    <a href="@Url.Action("Index", "Recontactos")">
        <i class="fa fa-envelope-o fa-2x">
            <span class="label">@Model.Count()</span>
        </i>
        <p>Recontactos</p>
    </a>
</li>