@model PagedList.IPagedList<Paramedic.Gestion.Model.TipoTerminal>

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="widget">
                        <div class="widget-header">
                            <h3>Filtros</h3>
                        </div>

                        <div class="widget-content" style="margin-top: -10px; padding-bottom: 10px">
                            <form action="@Url.Action("Index")" method="get" class="searchIndex" data-gestion-ajax="true" data-gestion-target="#tipoTerminalesList" style="margin-bottom:0px">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Buscar..." name="searchName">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-outline" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <a href="@Url.Action("Create", "TipoTerminales")" class="btn btn-success btn-outline">
                                        Agregar tipo de terminal
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("_TipoTerminales", Model)
        </div>
    </div>
</div>




