<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="alert alert-danger">
            <strong>Lo sentimos!</strong> Su cuenta corriente no está disponible en este momento.
        </div>
    </div>
</div>
