<div class="row" style="margin-top:10px">
    <div class="span6 offset3">
        <div class="alert alert-danger">
            <strong>Lo sentimos!</strong> Su cuenta corriente no est&aacute; disponible en este momento.
        </div>
    </div>
</div>


