<div class="row"">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="alert alert-danger">
            <strong>Lo sentimos!</strong> Su cuenta corriente no est&aacute; disponible en este momento.
        </div>
    </div>
</div>


