.date {
	position: absolute;
	top: 4px;
	right: 7px;
	z-index: 1;
	background: #e74c3c;
	width: 42px;
	height: 42px;
	padding: 0.5px 0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
	-webkti-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	.date .day {
		font-size: 1vw;
	}

	.date .month {
		font-size: 1vw;
		text-transform: uppercase;
	}

body {
	background: #f2f2f2;
	font-family: 'proxima-nova-soft', sans-serif;
	font-size: 1vw;
	-webkit-font-smoothing: antialiased;
}

.news-header {
	height: 35px;
	background-color: #8bc541;
}

	.news-header .title {
		color: #fff;
		font-weight: bold;
		font-size: 0.9vw;
		text-align: center;
		padding-top: 10px;
	}

.news-body p {
	padding-top: 18px;
	padding-left: 5px;
}

.news-body {
	background-color: #fff;
	height: 150px;
}

.col-news {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom:5px;
}

.badge-date {
	float: right;
	margin-top: 5px;
	margin-right: 2px;
}

#addonsModulesHeader {
	height: 35px;
	background-color: #999999;
	color: white;
	padding: 8px;
	text-align: center;
	border-bottom: 5px solid #8bc541;
	font-weight: bold;
}

	#addonsModulesHeader > i {
		margin-right: 5px;
	}

#addonsModulesBody {
	height: 150px;
	background-color: #fff;
	padding: 10px;
}

img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

#moduleContainer {
	border: 2px solid #999999;
	background-color: #f2f2f2;
	border-radius: 6px;
	margin-bottom: 5px;
	padding: 5px;
	cursor:pointer;
}

#moduleContainer:hover {
	background-color:#999999;
	color:white;
}

