@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Addons</title>
	<link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/bootstrap/bootstrap.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Content/styles/style-addons.css")" rel="stylesheet" />	
</head>
<body>
	@RenderBody()
</body>
</html>
