
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Addons</title>
</head>
<body>
    <div id="news">

    </div>

    <div id="addons">

    </div>
</body>
</html>
