<div class="col-xs-6 col-sm-offset-3" style="margin-top:5px">
	<div class="alert alert-danger" role="alert" style="height:150px">
		<div class="col-xs-12 trial-message"><strong><i class="fa fa-times-circle margin-right-10"></i>No hay ningun trial configurado para este módulo. Consulte a un administrador.</strong></div>
		<div class="float-right trial-buttons">
			<a
			    href="@Url.Action("Index","Addons", new { license = ViewBag.License})"
			    class="btn btn-danger">
				Volver
			</a>		
		</div>
	</div>
</div>


