@model Paramedic.Gestion.Model.ClientesLicenciasProductosModulosHistorial

<div class="col-xs-6 col-xs-offset-3">
	<div class="alert alert-success" role="alert">
		<div class="col-xs-12 margin-bottom-20"><strong><i class="fa fa-check-circle-o margin-right-10"></i>Se ha iniciado el trial satisfactoriamente.</strong></div>
	</div>
</div>