@model Paramedic.Gestion.Model.ProductosModulosIntento

<div class="col-xs-6 col-xs-offset-3">
	<div class="alert alert-warning height-100-px" role="alert">
		<div class="col-xs-12 margin-bottom-20"><strong><i class="fa fa-exclamation-circle margin-right-10"></i>Confirma que desea iniciar el trial del módulo @Model.ProductosModulo.DescripcionAddon por @Model.Dias días?</strong></div>
		<div class="float-right">
			<a href="@Url.Action("ConfirmTryAddon")" class="btn btn-warning btn-outline">Aceptar</a>
			<a href="@Url.Action("ConfirmTryAddon")" class="btn btn-danger btn-outline">Cancelar</a>
		</div>
	</div>
</div>