@{
    var medios = ViewBag.MediosDifusion;
}

<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row" style="margin-top: -20px">
                <div class="col-xs-12" style="margin-bottom: -15px">
                    <div class="widget">
                        <!-- /widget-header -->
                        <div class="widget-content" style="border:1px solid #00ba8b  !important; padding-bottom: 10px">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    @foreach (var item in medios)
                                    {
                                        <div class="col-xs-2">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <input type="checkbox" class="chkMediosDifusion" value="@item.ID" />
                                                </span>
                                                <input type="text" class="form-control txtMediosDifusion" readonly="true" value="@item.Descripcion" style="width:80%" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <!-- /bar-chart -->
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="fa fa-filter"></i>
                            <h3>Mapa</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content" style="padding:0 0 0">
                            <div id="map_canvas" style="width: 100%; height: 465px"></div>
                            <script>
                                initializeMapa();
                            </script>
                            <!-- /bar-chart -->
                        </div>
                        <!-- /widget-content -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /main-inner -->
    </div>
</div>


