@model Paramedic.Gestion.Model.LoginModel


<div class="form">

    <div>
        <h1>Shaman Gestión</h1>
    </div>

    <div class="thumbnail"><i class="fa fa-lock fa-5x"></i></div>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
        {
            <div class="row">
                <div class="span3">
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert">×</a>
                        @Html.ValidationSummary(true)
                    </div>
                </div>
            </div>
        }

        @Html.TextBoxFor(m => m.UserName, new { autofocus = "", placeholder = "Usuario", })

        @Html.PasswordFor(m => m.Password, new { placeholder = "Contraseña" })
        <button>Ingresar</button>

    }

</div>
